{% extends 'base.html' %}

{% block title %}
{{ turf.name }}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{turf.image.url}}" alt="Image of {{turf.name}}" class="w-100 round-edge"> 
        </div>

        <div class="col">
            <h4>
                {{turf.name}}
            </h4>
            <p>
                &#8377; {{turf.price }}
            </p>
            {% if turf.description %}
            <div class="text-secondary">
                {{turf.description}}
            </div>
            {% endif %}
            <div class="w-100 mx-2 my-5 row justify-content-evenly">

                
            </div>
            
        </div>

    </div>

</div>


{% endblock %}