* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  header {
    z-index: 10;
    height: 45px;
    background-color: rgb(7, 157, 44);

    nav {
      height: 100%;
    }
  }

  .about-section {
  background-color: #a10707;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(247, 2, 2, 0.1);
  border-radius: 12px;
}

  main {
    margin-top: 45px;

    /* Home page styling */

    /* carousel */
    #homeCarousel {
      height: 400px;

      .carousel {
        height: 100%;

        .carousel-inner {
          height: 100%;
          .carousel-item {
            height: 100%;

            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

    }

    
  }
}
.card-img-top {
    transition: transform 0.3s ease;
}
.card-img-top:hover {
    transform: scale(1.03);
}

.contact-container:hover {
  box-shadow: 0 0 20px rgba(0, 255, 153, 0.2);
  transform: scale(1.01);
  transition: all 0.3s ease;
}

/* .container{
    .row{
        .card{
            height: 350px;
            .card-img {
                height: 90%;
                overflow:hidden ;
                
                img { 
                    object-position: 0px 0px;
                    height: 100%;
                    object-fit:cover;
                }
            } */

/* }
}
} */

        